{{ loading_message }}

<h1>Overall Score: {{ score }} / 100</h1>

<h2>Security Score: {{ security_score }} / 25</h2>

<!--{% for security_issue in security_issues %}
<div class="issue">
    <h3>{{ security_issue.issue }}</h3>
    <p><strong>Severity:</strong> {{ security_issue.severity }}</p>
    <p>{{ security_issue.explanation }}</p>
    <p><strong>Recommendation:</strong> {{ security_issue.recommendation }}</p>
</div>
{% endfor %}-->

<h2>Cost Score: {{ cost_score }} / 25</h2>

<!--{% for cost_issue in cost_issues %}
<div class="issue">
    <h3>{{ cost_issue.issue }}</h3>
    <p><strong>Severity:</strong> {{ cost_issue.severity }}</p>
    <p>{{ cost_issue.explanation }}</p>
    <p><strong>Recommendation:</strong> {{ cost_issue.recommendation }}</p>
</div>
{% endfor %}-->

<h2>Identity Score: {{ identity_score }} / 25</h2>

<!--{% for identity_issue in identity_issues %}
<div class="issue">
    <h3>{{ identity_issue.issue }}</h3>
    <p><strong>Severity:</strong> {{ identity_issue.severity }}</p>
    <p>{{ identity_issue.explanation }}</p>
    <p><strong>Recommendation:</strong> {{ identity_issue.recommendation }}</p>
</div>
{% endfor %}-->

<h2>Reliability Score: {{ reliability_score }} / 25</h2>

<!--{% for reliability_issue in reliability_issues %}
<div class="issue">
    <h3>{{ reliability_issue.issue }}</h3>
    <p><strong>Severity:</strong> {{ reliability_issue.severity }}</p>
    <p>{{ reliability_issue.explanation }}</p>
    <p><strong>Recommendation:</strong> {{ reliability_issue.recommendation }}</p>
</div>
{% endfor %}-->